{
  "extends": ["@nuxtjs/eslint-config-typescript"],
  "rules": {
    "vue/singleline-html-element-content-newline": "off",
    "vue/multiline-html-element-content-newline": "off",
    "vue/require-prop-types": "off"
  }
}
