{
  "extends": ["@nuxtjs/eslint-config-typescript"],
  "ignorePatterns": ["node_modules", ".nuxt", ".idea", ".husky"],
  "rules": {
    "no-console": "off",
    "vue/singleline-html-element-content-newline": "off",
    "vue/multiline-html-element-content-newline": "off",
    "vue/require-prop-types": "off",
    "space-before-function-paren": "off",
    "unicorn/number-literal-case": "off",
    "no-lonely-if": "off",
    "vue/attribute-hyphenation": "off",
    "quotes": ["error", "single"],
    "semi": ["error", "always"]
  }
}
